.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #9a9a9a;
  padding: 24px 0;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  
}

.center ul {
  display: flex;
  align-items: center;
}

.center ul > li {
  margin: 0 20px;
}

.social_icon {
  color: #2a5ee4;
  font-size: 22px;
  margin: 0 8px;
  cursor: pointer;
}

@media (max-width: 968px) {
  .footer_container {
    flex-direction: column;
    gap: 40px;
  }
}
